[submodule "baselines-curate"]
	path = baselines-curate
	url = https://github.com/montrealrobotics/baselines-curate.git
	branch = master
[submodule "rl-utils"]
	path = rl-utils
	url = https://github.com/iamlab-cmu/rl-utils.git
	branch = master
[submodule "procgen-curriculum"]
	path = procgen-curriculum
	url = https://github.com/montrealrobotics/procgen-curriculum.git
	branch = master
